<html>
	<head>
        <script type="text/javascript" src="/js/jquery.js"></script>
        <script type="text/javascript" src="/js/editWordList.js"></script>
        <style type="text/css" src="/css/editWordList.css"></style>

            body{background-color:whitesmoke;}

            div.floatleft{float:left; width:20%; margin-left:10%;}
            div.floatright{float:right; width:60%; margin-right:5%;}
            div.floatclear{clear:both;}
            
            .widthMax{width:100%};
          
            .marginTopSmall{margin-top:10px;}
            .bgc1{background-color:Red;}
            .bgc2{background-color:Orange;}
            .bgc3{background-color:Aqua;}
            .bgc4{background-color:Lime;}
            .bgc99{background-color:White;}
            
            .leftBoxL{height:20px; text-align:center; padding:10px 0px; margin:10px 0px;}
            .leftBoxS{text-align:center; margin:10px 0px;}
                        
            .delimiterLine{border-bottom:1px dotted black;}
            table#includedWordList .left{width:30%; text-align:center;}
            table#includedWordList .center{width:50%; text-align:center;}
            table#includedWordList .right{width:20%; text-align:right;}

            ul{list-style-type:none; margin:0; padding:0;}
	</head>
	<body>
        <!--左側の領域-->
        <div class='floatleft'>
            <!--ホームへ戻る-->
            <div class='leftBoxL bgC1'><a>Homeへ</a></div>
            <hr />
            <!--編集する単語帳を選択-->
            <ul id='ListOfWordList'>
            </ul>

            <!--単語帳追加-->
            <div class='leftBoxS bgC4' id='addWordList'>+</div>
        </div>
        <!--右側の領域-->
        <div class='floatright'>
            <!--単語検索-->
            <input type='text' name='text' id='searchQWord'></input>
            <div id='searchButton'>search</div>
            <table class='widthMax bgc99' id='searchedWordList'>
                <!--ここから
                <tr>
                    <td>単語１</td><td>一番目の単語</td><td rowspan='2' class='bgc1' onclick='addWord(0)'>add</td>
                </tr>
                <tr class='delimiterLine'>
                    <td colspan='2'>例文</td>
                </tr>
                <tr><td  colspan='3' class='delimiterLine'></td></tr>
                <!--ここで１セット-->
            </table>

            <hr />

            <!--単語編集-->
            <div>単語帳の名前</div>
            <table class='widthMax bgc99' id='includedWordList'>
                <thead>
                    <tr>
                        <th class='left'>word</th><th class='center'>japanese</th><th></th>
                    </tr>
                    <tr><td  colspan='3' class='delimiterLine'></td></tr>
                </thead>
                <tbody id='includedWord'>
                </tbody>
            </table>

            <!--単語帳を削除-->
            <div></div>
        </div>
        <!--フッタ-->
        <div class='floatclear'></div>
	</body>
</html>
