body{background-color:whitesmoke;}

div.floatleft{float:left; width:20%; margin-left:10%;}
div.floatright{float:right; width:60%; margin-right:5%;}
div.floatclear{clear:both;}
            
.widthMax{width:100%};
          
.marginTopSmall{margin-top:10px;}
.bgc1{background-color:Red;}
.bgc2{background-color:Orange;}
.bgc3{background-color:Aqua;}
.bgc4{background-color:Lime;}
.bgc99{background-color:White;}
            
.leftBoxL{height:20px; text-align:center; padding:10px 0px; margin:10px 0px;}
.leftBoxS{text-align:center; margin:10px 0px;}
                        
.delimiterLine{border-bottom:1px dotted black;}
table#includedWordList .left{width:30%; text-align:center;}
table#includedWordList .center{width:50%; text-align:center;}
table#includedWordList .right{width:20%; text-align:right;}

ul{list-style-type:none; margin:0; padding:0;}
